<div @enterState class="color-navbar">
    <div class="container">
        <div class="row">
            <div class="col-4 mt-4">
                <h3>¿Que es SXR?</h3>
                <p>Es una aplicacion web que presta sus<br>servicios de resolucion de problemas de<br>programaion lineal usando el metodo simplex.</p>
            </div>
            <div class="col-4 mt-4 text-center">
                <img src="../../../../assets/img/logosxrio.png" class="img-logo" alt="">
                <p class="position-absolute-bottom text-center"> &copy; 2019 Copyright SXR </p>
            </div>
            <div class="col-4 mt-4">
                <h3>Desarrollador</h3>
                <p>Jose Azadi Restrepo Lopez</p>
                <p>Yesid Camilo Rodríguez Rodríguez</p>
                <p>Yamid José Rodriguez Rodriuez</p>
            </div>
        </div>
    </div>

</div>