
<div @enterState class="container mt-5 bg-white text-center border-radius">
    
    <div class="col font-Staatliches" >
        <h3 class="negrita texto-centro" style="padding: 20px;">Instrucciones: Cómo usar la herramienta SXR</h3>

        <p>
            A continuación podrá leer una breve y sencilla guía de uso para la herramienta SXR.
            Una vez que haya modelado el problema de programación lineal, es decir, tenga identificada la
            función objetivo a maximizar/minimizar junto con sus restricciones, puede estar seguro de que la
            tarea más difícil ha terminado. Deje ahora que SXR haga el trabajo.
        </p>
            <br>
        
        <p>
            <br>
            Para esto utilizaremos el siguiente ejemplo:<br>
            Maximizar	Z = f(x,y) = 3x + 2y<br>
            sujeto a:	2x + y ≤ 18<br>
                2x + 3y ≤ 42<br>
                3x + y ≤ 24<br>
                x ≥ 0 , y ≥ 0<br>

     
            
        </p>
        <img src="/../../assets/img/pantalla1.png" width="538" height="278" class="center img-border" alt="Introducir número de variables y restricciones que tiene el problema" title="Introducir número de variables y restricciones que tiene el problema">
        <p>Lo primero que debemos hacer es ingresar los valores correspondientes al número de variables de decisión y numero de restricciones.</p> <br>
        <img src="/../../assets/img/pantalla2.png" width="487" height="267" class="center img-border" alt="Introducir número de variables de decisión" title="Introducir número de variables y restricciones que tiene el problema">
        <p>Al ingresar el número de variables de decisión, automáticamente se despliega un campo para ingresar la función objetivo y otro para indicar si se desea maximizar o minimizar </p> <br>
        <img src="/../../assets/img/pantalla3.png" width="407" height="439" class="center img-border" alt="Introducir número de restricciones" title="Introducir número de variables y restricciones que tiene el problema">
        <p>Al ingresar el número de restricciones, automáticamente se despliegan los campos respectivos para cada restricción.</p> 
        <br>
        <p>Por ultimo presionamos el botón igual para obtener el resultado.</p>
        <img src="/../../assets/img/pantalla4.png" width="433" height="357" class="center img-border" alt="Introducir número de restricciones" title="Introducir número de variables y restricciones que tiene el problema"> <br>
        <br>
        <br>
        <img src="/../../assets/img/pantalla5.png" width="451" height="356" class="center img-border" alt="Introducir número de restricciones" title="Introducir número de variables y restricciones que tiene el problema"> <br> <br> <br>
        <img src="/../../assets/img/pantalla6.png" width="473" height="357" class="center img-border" alt="Introducir número de restricciones" title="Introducir número de variables y restricciones que tiene el problema"> <br>
        <br>
        <br>
        <img src="/../../assets/img/pantalla7.png" width="473" height="357" class="center img-border" alt="Introducir número de restricciones" title="Introducir número de variables y restricciones que tiene el problema">

        
      </div>
    
    <br>
</div>
<br><br>

<!--  -->