<div class="container mt-5 bg-white text-center border-radius">
    <div class="contenedor-imagen-resolver">
        <img src="../../../assets/img/undraw_problem_solving_ft81.png" class="imagen-resolver animated bounce fadeIn" alt="">
    </div>
    <div class="row">
        <div class="col font-Staatliches animated bounce fadeIn">
            <h3>Te ayudamos a resolver tus problema de programacion <br>lineal preciona en iniciar.</h3>
        </div>
    </div>

    <div class="row mt-3 animated bounce fadeIn">
        <div class="col">
            <button class="btn-material" id="iniciar" [routerLink]="['/simulacion']" routerLinkActive="router-link-active"> <h3>INICIAR</h3></button>
        </div>
    </div>
    <br>
</div>
<br><br>