<div class="div-completo-fondo-blanco ">
    <br>
    <div class="container bg-white text-center border-radius border">
        aas
        <div class="container border-radius" style="margin-right: 180px; margin-left: 100px;">
            <table class="table table-bordered">
                <!--  *ngFor="let lista of listas"  -->
                <thead>
                    <div class="container text-center">
                        <tr>
                            <th scope="col" class="bg-warning"></th>
                            <th scope="col">First</th>
                            <th scope="col" class="bg-warning"></th>
                            <th scope="col">Handle</th>
                        </tr>
                        <tr>
                            <th>1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th class="bg-warning"></th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th class="bg-warning"></th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                    </div>
                </thead>

            </table>
        </div>
        <br>
    </div>