<div class="div-completo-fondo-blanco ">
    <br>
    <div class="container" *ngFor="let lista of listas; let ntabla=index">
            <p>
                    {{lista.descripcion}}
            </p>
        <table class="table text-center table-bordered mt-5" >
            <tbody>
                <tr>
                    <th scope="col" class="colorn">
                        <ng-katex-paragraph paragraph="$Tabla{{ntabla}}$"></ng-katex-paragraph>
                    </th>
                    <th scope="col">
                        <ng-katex-paragraph paragraph="$CJ$"></ng-katex-paragraph>
                    </th>
                    <th scope="col"></th>
                    <th scope="col" *ngFor="let Cj of lista.cj">
                        <ng-katex-paragraph paragraph="${{Cj}}$"></ng-katex-paragraph>
                    </th>
                </tr>
                <tr>
                    <th>
                        <ng-katex-paragraph paragraph="$Cb$"></ng-katex-paragraph>
                    </th>
                    <th>
                        <ng-katex-paragraph paragraph="$Vsol$"></ng-katex-paragraph>
                    </th>
                    <td>
                        <ng-katex-paragraph paragraph="$Sol$"></ng-katex-paragraph>
                    </td>
                    <td *ngFor="let listan of lista.variables">
                        <ng-katex-paragraph paragraph="${{listan}}$"></ng-katex-paragraph>
                    </td>
                </tr>
                <tr *ngFor="let num of lista.cb; let indice=index">
                    <td>
                        <ng-katex-paragraph paragraph="${{num}}$"></ng-katex-paragraph>
                    </td>
                    <td>
                        <ng-katex-paragraph paragraph="${{lista.variables_solucion[indice]}}$"></ng-katex-paragraph>
                    </td>
                    <td *ngFor="let op of lista.operaciones[indice]; let opcion=index">
                        <ng-katex-paragraph paragraph="${{op}}$"></ng-katex-paragraph>
                    </td>
                </tr>

                <tr>
                    <th></th>
                    <th>
                        <ng-katex-paragraph paragraph="$Zj$"></ng-katex-paragraph>
                    </th>
                    <td *ngFor="let zj of lista.zj">
                        <ng-katex-paragraph paragraph="${{zj | number:'1.0-2'}}$"></ng-katex-paragraph>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th>
                        <ng-katex-paragraph paragraph="$Cj-Zj$"></ng-katex-paragraph>
                    </th>
                    <th scope="col"></th>
                    <td *ngFor="let cjzj of lista.cj_zj">
                        <ng-katex-paragraph paragraph="${{cjzj | number: '1.0-2'}}$"></ng-katex-paragraph>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <br>
</div>