<div class="container mt-5 bg-white text-center border-radius">
    
    <h1>ACERCA DE</h1>
    <p>
        SXR es una herramienta online para resolver problemas de programación lineal.
        Permite a los usuarios de una forma secilla y practicar dar solución a los distintos problemas.
    </p>
    <p>
        SXR es capaz de resolver problemas mediante el método Simplex y no cuenta con
        limitaciones en el número de variables de decisión ni en las restricciones de los problemas.        
    </p>
    <p>
        Esta herramienta está pensada para ayudar a los estudiantes en su aprendizaje ya que no solo muestra los resultados finales sino 
        también las operaciones intermedias.  Otras de sus ventajas son que no precisa de ningún lenguaje para enunciar el problema, 
        ofrece una interfaz amigable, es cercano al usuario, de manejo fácil e intuitivo, no es necesario instalar nada para poder usarlo.
    </p><br>

    </div>

    <br><br><br><br>