<div class="div-completo-fondo-blanco ">
    <br>
    <div @enterState class="container bg-white text-center border-radius border">
        <h1> Realiza tus calculos </h1>
        <hr>
        <form [formGroup]="forma" (ngSubmit)="evaluarDatos()" novalidate="novalidate">
            <div class="form-group row">
                <div class="col">
                    <mat-form-field>
                        <input matInput formControlName="numero_variables_decision" name="vd" placeholder="N° de variables de decision" value="" type="number">
                    </mat-form-field>
                </div>
            </div>
            <div @enterDifuminado *ngIf="forma.controls.numero_variables_decision.value > 0">
                <div class="form-group row">
                    <div class="col">
                        <label for="optimizacion" class="mr-2 mb-2">Seleccione el tipo de optimizacion: </label>

                        <mat-radio-group formControlName="tipo_optimizacion">
                            <mat-radio-button value="max" class="mr-2">Max</mat-radio-button>
                            <mat-radio-button value="min">Min</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="d-inline-block align-self-end">
                        <table>
                            <tr>
                                <td>
                                    <div [@maxMin]="forma.controls.tipo_optimizacion.value">
                                        <ng-katex-paragraph paragraph="$ {{forma.controls.tipo_optimizacion.value | primercaractermayuscula}}Z: $"></ng-katex-paragraph>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div formArrayName="funcion_objetivo" class="d-inline-block align-self-end" *ngFor="let item of forma.controls.funcion_objetivo.controls; let i = index">
                        <table>
                            <tr>
                                <td>
                                    <mat-form-field [style.width.px]=50>
                                        <input matInput [formControlName]="i" placeholder="" value="" type="number">
                                    </mat-form-field>
                                </td>
                                <td>
                                    <ng-katex-paragraph paragraph="$x_{{i+1}}$"></ng-katex-paragraph>
                                </td>
                                <td *ngIf="(i+1) < forma.controls.numero_variables_decision.value">
                                    <ng-katex-paragraph paragraph="$+$"></ng-katex-paragraph>
                                </td>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
            <hr>
            <div class="form-group row">
                <div class="col">
                    <mat-form-field>
                        <input matInput formControlName="numero_restricciones" name="nr" placeholder="N° de restricciónes" value="" type="number">
                    </mat-form-field>
                </div>
            </div>
            <div @enterDifuminado *ngIf="forma.controls.numero_variables_decision.value > 0 && forma.controls.numero_restricciones.value > 0">
                <div class="form-group text-center" *ngFor="let restriccion of forma.controls.restricciones.controls; let i= index ">
                    <div formArrayName="restricciones" class="align-self-center">
                        <table class="d-inline-block">
                            <tr>
                                <div class="mr-2 mt-3">
                                    <ng-katex-paragraph paragraph="${{i+1}}.$"></ng-katex-paragraph>
                                </div>
                            </tr>
                        </table>
                        <div [formGroupName]="i" class="d-inline-block align-self-end" *ngFor="let item of forma.controls.funcion_objetivo.controls; let j = index">
                            <table>
                                <tr>
                                    <td formArrayName="restriccion">
                                        <mat-form-field [style.width.px]=50 class="example-full-width">
                                            <input matInput [formControlName]="j+2" placeholder="" value="" type="number">
                                        </mat-form-field>
                                    </td>
                                    <td>
                                        <ng-katex-paragraph paragraph="$x_{{j+1}}$"></ng-katex-paragraph>
                                    </td>
                                    <td *ngIf="(j+1) < forma.controls.numero_variables_decision.value">
                                        <ng-katex-paragraph paragraph="$+$"></ng-katex-paragraph>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <table [formGroupName]="i" class="d-inline-block ml-2">
                            <tr>
                                <td>
                                    <div class="mr-2" formArrayName="restriccion">
                                        <mat-form-field [style.width.px]=50>
                                            <mat-label>Signo</mat-label>
                                            <mat-select [(value)]="selected" [formControlName]="0">
                                                <mat-option>None</mat-option>
                                                <mat-option value="=">=</mat-option>
                                                <mat-option value=">=">≥</mat-option>
                                                <mat-option value="<=">≤</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                </td>
                                <td>
                                    <mat-form-field [style.width.px]=50 class="example-full-width " formArrayName="restriccion">
                                        <input matInput [formControlName]="1" placeholder="" value="" type="number">
                                    </mat-form-field>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <hr>
            <button type="submit " class="btn btn-outline-success mb-4 ">=</button>
        </form>
    </div>
    <br>
</div>